@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

    


        .nav-content {
          margin-left: auto;
          margin-right: auto;
          background-color: #F08080;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          height: 100%; /* h-16 */
        }

        .site-logo {
          flex-shrink: 0;
        }

        .site-logo a {
          font-size: 2rem;
          font-weight: 100; /* Thinner */
          color: white;
          font-family: "Lavishly Yours", cursive;
          text-decoration: none;
        }
        

       

        .nav-links-list {
          display: flex;
          align-items: baseline;
        }

        .nav-links-list a {
          color: black; /* text-gray-700 */
          padding: 0.5rem 0.75rem; /* px-3 py-2 */
          border-radius: 0.375rem; /* rounded-md */
          font-size: 1.2rem; /* text-lg */
          font-weight: 500; /* font-medium */
          transition: color 300ms ease-in-out; /* transition duration-300 ease-in-out */
          text-decoration: none;
          font-family: "Emilys Candy", serif;
        }

        .nav-links-list a:hover {
          color: #db2777; /* hover:text-pink-600 */
        }
